$white: #ffffff;
$sutfont: "sutregular";
$blue1:  #ffffff;
$blue2:  #ffffff;
$blue3:  #ffffff;
$blue4:  #ffffff;
$blue5:  #ffffff;
$blue6:  #ffffff;

$red_grad1: #1f1f1f;
$red_grad2: #1f1f1f;
$red_grad3: #1f1f1f;
$red_grad4: #1f1f1f;
$red_grad5: #1f1f1f;
